In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# World Firearm Statistics

In [4]:
df = pd.read_csv("world_firearms.csv")

In [5]:
df.head(5)

,Country/Territory,ISO code,Source,% of homicides by firearm,Number of homicides by firearm,"Homicide by firearm rate per 100,000 pop",Rank by rate of ownership,Average firearms per 100 people,Average total all civilian firearms
0,Albania,AL,CTS,65.9,56.0,1.76,70.0,8.6,270000.0
1,Algeria,DZ,CTS,4.8,20.0,0.06,78.0,7.6,1900000.0
2,Angola,AO,NaN,NaN,NaN,NaN,34.0,17.3,2800000.0
3,Anguilla,AI,WHO-MDB,24.0,1.0,7.14,NaN,NaN,NaN
4,Argentina,AR,Ministry of Justice,52.0,1198.0,3.02,62.0,10.2,3950000.0

In [7]:
df['Average total all civilian firearms'].sum()

644008400.0

In [8]:
df['Average total all civilian firearms'][df['Country/Territory']=='United States']/df['Average total all civilian firearms'].sum()

176    0.419249
Name: Average total all civilian firearms, dtype: float64

Almost 42% of total civilian firearms in the world are in the United States.

#### Obtain and merge human develompent index data from 2007 with matching firearm data

In [9]:
hdi = pd.read_csv("HDI.csv")

In [10]:
hdi['Country'] = hdi['Country'].apply(lambda x: x.lstrip(" "))

In [11]:
hdi = hdi[['Country', '2007']]

In [12]:
df1 = hdi.merge(df, right_on="Country/Territory", left_on="Country", how = "right")

In [15]:
df1 = df1.rename(columns = {"2007":"HDI", "Homicide by firearm rate per 100,000 pop":"Homicides_per_100",
                           "Average firearms per 100 people":"Firearms_per_100"})

In [181]:
df1.head()

,Country,HDI,Country/Territory,ISO code,Source,% of homicides by firearm,Number of homicides by firearm,Homicides_per_100,Rank by rate of ownership,Firearms_per_100,Average total all civilian firearms
0,Albania,0.713,Albania,AL,CTS,65.9,56.0,1.76,70.0,8.6,270000.0
1,Algeria,0.697,Algeria,DZ,CTS,4.8,20.0,0.06,78.0,7.6,1900000.0
2,Angola,0.468,Angola,AO,NaN,NaN,NaN,NaN,34.0,17.3,2800000.0
3,Argentina,0.792,Argentina,AR,Ministry of Justice,52.0,1198.0,3.02,62.0,10.2,3950000.0
4,Armenia,0.721,Armenia,AM,CTS,13.0,9.0,0.29,52.0,12.5,380000.0

In [208]:
df1['HDI_rank'] = df1.HDI.rank(ascending = False, method = 'min')

In [209]:
df1.to_csv('2007_world_guns.csv')

## Gun Control Laws

In [132]:
laws = pd.read_csv("gun_laws.csv")

In [133]:
laws2016 = laws[laws.year == 2016]

Categories of Gun Control Laws to be analyzed:

3 - Limiting access to High Risk Individuals,
4 - Background Checks,
7 - Limiting Concealed Carry,
8 - Ban/Limit Assault weapons,
9 - Child Safety Laws,

In [156]:
def laws(x):
    names = ['state','lawtotal']
    for i in x:
        if i.startswith('3'):
            names.append(i)
        if i.startswith('4'):
            names.append(i)
        if i.startswith('7'):
            names.append(i)
        if i.startswith('8'):
            names.append(i)
        if i.startswith('9'):
            names.append(i)
    return names

In [157]:
colnames = laws(laws2016.columns)

In [161]:
laws2016 = laws2016[colnames]

In [171]:
laws2016['high_risk'] = laws2016['3 - violentpartial']+laws2016['3 - violenth']+laws2016['3 - violent']+laws2016[
    '3 - invoutpatient']+laws2016['3 - invcommitment']+laws2016['3 - felony']+laws2016['3 - drugmisdemeanor']+laws2016[
    '3 - danger']+laws2016['3 - alctreatment']+laws2016['3 - alcoholism']

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [173]:
laws2016['background'] = laws2016['4 - universalpermith']+laws2016['4 - universalpermit']+laws2016['4 - universalh']+laws2016[
    '4 - statechecks']+laws2016['4 - statechecksh']+laws2016['4 - universal']+laws2016['4 - threedaylimit']+laws2016[
    '4 - mentalhealth']+laws2016['4 - gunshowh']+laws2016['4 - gunshow']+laws2016['4 - backgroundpurge']

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [176]:
laws2016['concealed'] = laws2016['7 - showing']+laws2016['7 - permitconcealed']+laws2016['7 - mayissue']+laws2016[
    '7 - ccrevoke']+laws2016['7 - ccrenewbackground']+laws2016['7 - ccbackgroundnics']+laws2016['7 - ccbackground']

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [177]:
laws2016['assault'] = laws2016['8 - tenroundlimit']+laws2016['8 - magazinepreowned']+laws2016['8 - magazine']+laws2016[
    '8 - assaulttransfer']+laws2016['8 - assaultregister']+laws2016['8 - assaultlist']+laws2016['8 - assault']

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [178]:
laws2016['child'] = laws2016['9 - cap14']+laws2016['9 - cap16']+laws2016['9 - cap18']+laws2016[
    '9 - capaccess']+laws2016['9 - capliability']+laws2016['9 - capunloaded']+laws2016['9 - capuses']+laws2016[
    '9 - lockd']+laws2016['9 - locked']+laws2016['9 - lockp']+laws2016['9 - lockstandards']

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [180]:
laws2016.to_csv('2016_gunlaws.csv')

### Violent Crime Stats by State

In [23]:
state_violence = pd.read_csv('gun-violence-13-18.csv')

In [27]:
state_violence['Year'] = state_violence.date.apply(lambda x: x[0:4])

In [97]:
state_violence2016 = state_violence[state_violence.Year == '2016']

Load Population data from 2016 by state and merge to calcluate rates.

In [98]:
pop = pd.read_csv('2016_populations.csv')

In [99]:
pop['State'] = pop['State'].apply(lambda x:x.replace(".",""))

In [100]:
state_violence2016 = state_violence2016.merge(pop, left_on='state', right_on='State', how = 'left')

In [106]:
state_gb = state_violence2016.groupby('state').agg({'incident_id':'count',
    'n_killed':'sum', 'n_injured':'sum', 'Population':'max', 'Firearms':'max'}).reset_index()

In [109]:
state_gb['firearms_per_100k'] = (state_gb['Firearms']/state_gb['Population'])*100000

In [108]:
state_gb['incidence_per_100k'] = (state_gb['incident_id']/state_gb['Population'])*100000

In [113]:
state_gb['deaths_per_100k'] = (state_gb['n_killed']/state_gb['Population'])*100000

In [115]:
state_gb['injured_per_100k'] = (state_gb['n_injured']/state_gb['Population'])*100000

In [116]:
state_gb['inj_killed_per_100k'] = ((state_gb['n_injured']+state_gb['n_killed'])/state_gb['Population'])*100000

In [200]:
state_gb.head(10)

,state,incident_id,n_killed,Firearms,n_injured,Population,incidence_per_100k,firearms_per_100k,deaths_per_100k,injured_per_100k,inj_killed_per_100k
0,Alabama,1309,488,161641,761,4863300,26.915880,3323.689676,10.034339,15.647811,25.682150
1,Alaska,445,88,15824,103,741894,59.981615,2132.919258,11.861533,13.883385,25.744918
2,Arizona,554,277,179738,294,6931071,7.992993,2593.221163,3.996496,4.241769,8.238265
3,Arkansas,720,190,79841,351,2988248,24.094386,2671.833128,6.358241,11.746013,18.104254
4,California,3617,1265,344622,1896,39250017,9.215283,878.017454,3.222929,4.830571,8.053500
5,Colorado,812,207,92435,299,5540545,14.655598,1668.337682,3.736095,5.396581,9.132676
6,Connecticut,803,68,82400,358,3576452,22.452419,2303.959343,1.901326,10.009920,11.911246
7,Delaware,328,42,4852,187,952065,34.451429,509.629069,4.411464,19.641516,24.052980
8,District of Columbia,497,106,47228,339,681170,72.962697,6933.364652,15.561460,49.767312,65.328773
9,Florida,4201,1001,343288,1846,20612439,20.380897,1665.440950,4.856291,8.955757,13.812048

In [118]:
state_gb.to_csv('2016_violence_by_state.csv')