In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Load Data on Homicide by Firearms in U.S.

Data from CDC Injury Prevention and Control report.
https://www.cdc.gov/injury/wisqars/fatal.html

In [49]:
df = pd.read_csv("fatal_injury1981-2016.csv")

In [50]:
df.head(3)

     Cause of Death  Year  Deaths  Population  Rate  Age-Adjusted Rate
0  Homicide Firearm  1981   15089   229465316  6.58           6.340121
1  Homicide Firearm  1982   13830   231664211  5.97           5.738071
2  Homicide Firearm  1983   12040   233792237  5.15           4.923845

### Load  Data on Firearms Manufactured in the U.S.

Data from ATF's Annual Firearm Manufacturing and Exportation Report.

In [51]:
df1 = pd.read_csv('Firearms_manufactured.csv')

In [52]:
df1.head(3)

     Year Total_Firearms
0  1986.0        3040934
1  1987.0        3559663
2  1988.0        3963877

In [53]:
df2 = df.merge(df1, right_on = 'Year', left_on = 'Year', how = 'left')

In [54]:
df2.rename(columns = {'Rate':'death_rate_per_100k'}, inplace = True)

In [55]:
df2.dropna(axis = 0, inplace = True)

In [56]:
df2['Total_Firearms'] = df2['Total_Firearms'].apply(pd.to_numeric)
df2['Population'] = df2['Population'].apply(pd.to_numeric)

In [57]:
df2['firearm_manufacturing_rate_per_1k'] = df2['Total_Firearms']/df2['Population']*1000

In [60]:
df2.tail()

,Cause of Death,Year,Deaths,Population,death_rate_per_100k,Age-Adjusted Rate,Total_Firearms,firearm_manufacturing_rate_per_1k
29,Homicide Firearm,2010,11078,308747508,3.59,3.621250,5459240,17.681892
30,Homicide Firearm,2011,11068,311663358,3.55,3.592311,6541886,20.990231
31,Homicide Firearm,2012,11622,313998379,3.70,3.756533,8578610,27.320555
32,Homicide Firearm,2013,11208,316204908,3.54,3.602796,10844792,34.296723
33,Homicide Firearm,2014,11008,318563456,3.46,3.528151,9050626,28.410748

In [59]:
df2.to_csv('homicide_rate_vs_firearms_manufactured.csv')